<div id="content" class="col-lg-10 offset-lg-1">
    <header id="header" class="col-lg-12">
        <h1>
            {{title}}
        </h1>
    </header>

    <nav id="nav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Producto</a></li>
            <li><a href="#">Crear Producto</a></li>
        </ul>
    </nav>

    <section id="main" class="col-lg-12">
        <home></home>
    </section>

    <footer class="col-lg-12">
        <p>Curso de Angular 10</p>
    </footer>
</div>